{% extends "base.html" %}
{% load static %}

{% block content %}
  <form action="" method="post" class="w-96 md:w-[450px] mx-auto bg-white p-8 rounded-lg shadow-md mt-12 mb-12 font-questrial">
    {% csrf_token %}
    
    <div class="mb-4">
        <label for="{{ form.name.id_for_label }}" class="block text-grey text-base font-bold mb-2">Name:</label>
        {{ form.name }}
    </div>

    <div class=" flex gap-5">
        <div class="mb-4">
            <label for="{{ form.meal.id_for_label }}" class="block text-grey text-base font-bold mb-2">Select Meal:</label>
            {{ form.meal }}
        </div>
    
        <div class="mb-4">
            <label for="{{ form.day.id_for_label }}" class="block text-grey text-base font-bold mb-2">Day:</label>
            {{ form.day }}
        </div>
    </div>
    
    <div class="mb-4">
      <label for="{{ form.calories.id_for_label }}" class="block text-grey text-base font-bold mb-2">Calories:</label>
      {{ form.calories }}
    </div>

    <div class="mb-4">
        <label for="{{ form.notes.id_for_label }}" class="block text-grey text-base font-bold mb-2">Notes:</label>
        {{ form.notes }}
    </div>

   
    <button type="submit" class="relative rounded-full px-5 py-1 overflow-hidden group bg-black text-cream hover:bg-gradient-to-r
    hover:from-black hover:to-grey hover:ring-2 hover:ring-offset-2 hover:ring-redorange transition-all ease-out duration-300">
    <span class='absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
    opacity-10 rotate-12 group-hover:-translate-x-40 ease'></span>
    <span class='relative'>Submit</span>
   </button>
</form>

{% endblock content %}
