{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}



{% block content %}

    <form action="" method="post" id='workout-form'>
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit" class="btn submit">Submit</button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_muscle_group').change(function() {
                const muscleGroup = $(this).val();
                
                $.ajax({
                    url: "{% url 'get_workouts_by_muscle_group' %}",
                    data: {
                        'muscle_group': muscleGroup
                    },
                    success: function(response) {
                        const workoutSelect = $('#id_name');
                        workoutSelect.empty();
                        
                        // Add a default option
                        workoutSelect.append($('<option>', { 
                            value: '',
                            text : 'Select a workout'
                        }));
                        
                        // Add the workout options returned by the API
                        response.workouts.forEach(function(workout) {
                            workoutSelect.append($('<option>', { 
                                value: workout,
                                text : workout 
                            }));
                        });
                    }
                });
            });
        });
    </script>
{% endblock content %}



