<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit Trackr</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          {% comment %} <li><a href="{% url 'set_goals' %}">Goals</a></li> {% endcomment %}
          <li><a href="{% url "set_goals" user.id%}">Goals</a></li>
          {% comment %} <li><a href="{% url "set_goals" user.id%}">Meals</a></li> {% endcomment %}
          <li><a href="{% url "create_workout"%}">Workouts</a></li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Sign out</button>
            </form>
          </li> 

        {% else %}
          <li><a href="{% url 'home' %}">Sign in</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>