{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}

{% block content %}

{% if user.is_authenticated %}
    <h1>{{ user.username }}'s Fittrrackr</h1>
{% else %}
    <h1>Welcome to Fittrrackr</h1>
{% endif %}    <div>
        <ul>
        {% for workout in recent_workouts %}
            <li>{{ workout.name }} -{{ workout.calorie_lost }} calories</li>
        {% empty %}
            <li>No recent workouts available</li>
        {% endfor %}
        </ul>
    <a href="{% url 'workout_log' %}">See All -> </a>
    </div>

    <div>
        <ul>
            {% for meal in recent_meals %}
                <li>{{ meal.get_meal_display }} +{{ meal.calories }} calories</li>
            {% empty %}
                <li>No recent meal entries available</li>
            {% endfor %}
        </ul>
        <a href="{% url 'meal_log' %}">See All -> </a>
    </div>

{% endblock content %}


