{% extends 'base.html' %}
{% block head %}
<style>
    @keyframes slide-in {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    .slide-in {
        animation: slide-in 0.3s forwards;
        will-change: transform, opacity;
    }
    
    .slide-out {
        animation: slide-out 0.3s forwards;
        will-change: transform, opacity;
    }

    #reviews-container {
        max-height: 120px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
</style>
{% endblock head %}

{% block content %}

{% if not user.is_authenticated %}
<div id="sticky-nav" class="bg-sage p-4 fixed top-0 left-0 right-0 opacity-0 transition-opacity duration-300 z-50 shadow-md">
    <div class="flex justify-center space-x-4">
        <a href="#reviews" class="text-offWhite hover:text-yellow-500">User Reviews</a>
        <a href="#features" class="text-offWhite hover:text-yellow-500">Features</a>
        <a href="#about" class="text-offWhite hover:text-yellow-500">About Us</a>
        <a href="#contact" class="text-offWhite hover:text-yellow-500">Contact</a>
    </div>
</div>

<section class="mt-10 font-questrial">
    <div class="flex justify-between items-center">
        <div class="ml-10 mt-10 content max-w-md">
            <p class="mb-2">The best app to reach your nutrition and health goals</p>
            <h1 class="text-4xl font-bold">Reach your full potential</h1>
            <h1 class="text-4xl">with FitTrackr</h1>
            <p class="mt-2">
                FitTrackr is a fitness tracking app that monitors your meals and workouts <br> by calculating both caloric intake and loss. It helps users stay on top of their <br> health goals by providing real-time calorie counts and allowing them to set personalized calorie and workout goals.
            </p>
            <div class="flex gap-3 mt-4">
                <button>
                    <a href="{% url 'signup' %}">
                        <div class="relative rounded-md mt-2 py-1 w-auto text-center px-4 inline-block overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative">Get Started Now</span>
                        </div>
                    </a>
                </button>
                {% comment %} <button>
                    <a href="{% url 'signin' %}">
                        <div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative">Sign In</span>
                        </div>
                    </a>
                </button> {% endcomment %}
            </div>
        </div>
        <div class="mr-10 mt-10">
            <img class="w-64" src="https://imgur.com/6MLBOkn.png" alt="Example Dashboard" />
        </div>
    </div>
</section>


    <div class="mt-4 bg-sage p-5 " id="reviews">
        <h1 class="text-3xl font-bold text-offWhite text-center mb-5">What Our Users Say</h1>
        <div id="reviews-container" class="text-center">
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">John Doe</p>
                <p class="text-sm text-offWhite italic">"This app completely changed how I manage my fitness. Highly recommend!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 4.5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Jane Smith</p>
                <p class="text-sm text-offWhite italic">"A must-have for anyone serious about their health. It's amazing!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Brian Na</p>
                <p class="text-sm text-offWhite italic">"This app is amazing! Helps me stay on track with my goals."</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Anaiah Maddox</p>
                <p class="text-sm text-offWhite italic">"The functionalities of this app are flawless!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Gabby Tongol</p>
                <p class="text-sm text-offWhite italic">"I can't use any other app after I started using FitTrackr!"</p>
            </div>
        </div>
    </div>

</section>
{% endif %}

<script>
    const reviews = document.querySelectorAll('.review')
    let currentIndex = 0

    function showReview(index) {
        reviews.forEach((review, i) => {
            if (i === index) {
                review.classList.remove('hidden')
                review.classList.add('slide-in')
            } else {
                review.classList.add('slide-out')
                setTimeout(() => {
                    review.classList.add('hidden')
                    review.classList.remove('slide-out')
                }, 150)
            }
        });
    }

    function rotateReviews() {
        currentIndex = (currentIndex + 1) % reviews.length;
        showReview(currentIndex)
    }

    showReview(currentIndex)

    setInterval(rotateReviews, 3000)
    const stickyNav = document.getElementById('sticky-nav');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            stickyNav.style.opacity = '0.5'; // Set opacity to 50% when scrolled
            stickyNav.style.pointerEvents = 'auto'; // Allow interaction
        } else {
            stickyNav.style.opacity = '0'; // Hide when at the top
            stickyNav.style.pointerEvents = 'none'; // Prevent interaction
        }
    });
</script>

{% endblock  %}