{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    @keyframes slide-in {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    .slide-in {
        animation: slide-in 0.3s forwards;
        will-change: transform, opacity;
    }
    
    .slide-out {
        animation: slide-out 0.3s forwards;
        will-change: transform, opacity;
    }

    #reviews-container {
        max-height: 120px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    #photos-container {
        position: relative;
        height: 400px; /* Set the appropriate height for your photos */
        overflow: hidden;
    }
    
    .photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    .photo.active {
        opacity: 1;
        z-index: 1;
    }
</style>
{% endblock head %}

{% block content %}

{% if not user.is_authenticated %}


<section class=" font-questrial">
    <div class="flex justify-between items-center bg-cover pb-5" style="background: url('{% static 'images/food.jpg' %}') no-repeat center center/cover">
        <div class="ml-10 mt-10 content max-w-md bg-offWhite p-5 bg-opacity-70 rounded-md">
            <p class="mb-2">The best app to reach your nutrition and health goals</p>
            <h1 class="text-4xl font-bold">Reach your full potential</h1>
            <h1 class="text-4xl">with FitTrackr</h1>
            <p class="mt-2">
                FitTrackr is a fitness tracking app that monitors your meals and workouts <br> by calculating both caloric intake and loss. It helps users stay on top of their <br> health goals by providing real-time calorie counts and allowing them to set personalized calorie and workout goals.
            </p>
            <div class="flex gap-3 mt-4">
                <button>
                    <a href="{% url 'signup' %}">
                        <div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative">Sign Up</span>
                        </div>
                    </a>
                </button>
                <button>
                    <a href="{% url 'signin' %}">
                        <div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative">Sign In</span>
                        </div>
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
  {% comment %} <div class='mt-5'>
        <div id="photos-container">
            <div class="photo hidden">
                <img src="{% static 'images/eating.jpg' %}" alt="eating" class="mx-auto">
            </div>
            <div class="photo hidden">
                <img src="{% static 'images/food.jpg' %}" alt="healthy" class="mx-auto">
            </div>
            <div class="photo hidden">
                <img src="{% static 'images/hiking.jpg' %}" alt="hiking" class="mx-auto">
            </div>
            <div class="photo hidden">
                <img src="{% static 'images/running.jpg' %}" alt="running" class="mx-auto">
            </div>
        </div>
    </div> {% endcomment %}

    <div class="bg-sage p-10 bg-opacity-80">
        <h1 class="text-3xl font-bold text-offWhite text-center mb-5">What Our Users Say</h1>
        <div id="reviews-container" class="text-center">
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">John Doe</p>
                <p class="text-sm text-offWhite italic">"This app completely changed how I manage my fitness. Highly recommend!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 4.5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Jane Smith</p>
                <p class="text-sm text-offWhite italic">"A must-have for anyone serious about their health. It's amazing!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Brian Na</p>
                <p class="text-sm text-offWhite italic">"This app is amazing! Helps me stay on track with my goals."</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Anaiah Maddox</p>
                <p class="text-sm text-offWhite italic">"The functionalities of this app are flawless!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Gabby Tongol</p>
                <p class="text-sm text-offWhite italic">"I can't use any other app after I started using FitTrackr!"</p>
            </div>
        </div>
    </div>
    
</section>
{% endif %}

<script>
    const reviews = document.querySelectorAll('.review')
    let currentIndex = 0

    function showReview(index) {
        reviews.forEach((review, i) => {
            if (i === index) {
                review.classList.remove('hidden')
                review.classList.add('slide-in')
            } else {
                review.classList.add('slide-out')
                setTimeout(() => {
                    review.classList.add('hidden')
                    review.classList.remove('slide-out')
                }, 150)
            }
        });
    }

    function rotateReviews() {
        currentIndex = (currentIndex + 1) % reviews.length;
        showReview(currentIndex)
    }

    showReview(currentIndex)

    setInterval(rotateReviews, 3000)


    {% comment %} const photos = document.querySelectorAll('.photo')
    let currentPhotoIndex = 0

    function showPhoto(index) {
        photos.forEach((photo, i) => {
            if (i === index) {
                photo.classList.remove('hidden')
                photo.classList.add('slide-in')
            } else {
                photo.classList.add('slide-out')
                setTimeout(() => {
                    photo.classList.add('hidden')
                    photo.classList.remove('slide-out')
                }, 300)
            }
        });
    }

    function rotatePhotos() {
        currentPhotoIndex = (currentPhotoIndex + 1) % photos.length
        showPhoto(currentPhotoIndex)
    }

    showPhoto(currentPhotoIndex)
    setInterval(rotatePhotos, 4000) {% endcomment %}
</script>

{% endblock  %}