{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}

{% block content %}

    <h1 class=" text-8xl">Meal Log</h1>

    <section class=' mt-7'>
        {% for meal in meals %}
            <div class=" flex gap-2">
                <p>{{ meal.get_meal_display }}</p>
                <p>{{ meal.day }}</p>
                <p>{{ meal.calories }}</p>
                
                <a href="{% url 'meal_detail' meal.id %}">View</a>
            </div>
        {% endfor %}
    </section>
    <a href="{% url 'user_dashboard' %}">Back to Home</a>

{% endblock content %}
