{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}


{% block content %}

<section class=' mt-7'>
    <div>

        <p>{{ meal.get_meal_display }} {{ meal.day }}</p>
       <p>{{ meal.name }}</p>
       <p>Calories: {{ meal.calories }}</p>
       <p>Notes: {{ meal.notes }}</p>

    </div>
    
    <a href="{% url 'meal_update' meal.id %}">Update</a>
    <a href="{% url 'meal_delete' meal.id %}">Delete</a>
    <a href="{% url 'meal_log' %}">Back</a>

</section>

{% endblock content %}
