{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}


{% block content %}

<section class='font-quattrocento'>
    <div class=' ml-2 mt-2'>
        <button ><a href="{% url 'meal_log' %}" class="bg-darkerSage text-white font-semibold py-2 px-4 rounded hover:bg-sage">Back</a></button>
    </div>
    <div class='flex justify-center m-5 text-4xl'>
        <h1>Meal Details</h1>
    </div>
    <div class='flex justify-center mt-5'>
        <table class='table-auto rounded-xl bg-offWhite text-warmCoffee'>
            <tbody>
                <tr>
                    <th class="text-right pl-5 pr-5">Date:</th>
                    <td class='pl-5 pr-5'>{{ meal.day }}</td>
                </tr>
                <tr>
                    <th class="text-right pl-5 pr-5">Meal:</th>
                    <td class='pl-5 pr-5 text-wrap'>{{ meal.get_meal_display }}</td>
                </tr>
                <tr>
                    <th class="text-right pl-5 pr-5">Food:</th>
                    <td class='pl-5 pr-5'>{{ meal.name }}</td>
                </tr>
                <tr>
                    <th class="text-right pl-5 pr-5">Calories:</th>
                    <td class='pl-5 pr-5'>{{ meal.calories }}</td>
                </tr>
                <tr>
                    <th class="text-right pl-5 pr-5">Notes:</th>
                    <td class='pl-5 pr-5'>{{ meal.notes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id='workout-info'>
    {% comment %} {% detail in workout_details %}
        {{detail.Muscles}}
        {{detail.Workout}}
        {{detail.Intensity_Level}}
        {{}} {% endcomment %}
    </div>


    <div class='flex justify-center mt-10 gap-2'>
        <button class="bg-darkerSage text-white font-semibold py-2 px-4 rounded hover:bg-sage"><a href="{% url 'meal_update' meal.id %}" >Edit</a></button>
        <button class="bg-darkerSage text-white font-semibold py-2 px-4 rounded hover:bg-sage"><a href="{% url 'meal_delete' meal.id %}" >Delete</a></button>
    </div>
</secton>

{% endblock content %}
