{% extends "base.html" %}
{% block head %}

{% endblock head %}

{% block content %}
    <section>
        <form action="" method="post" class="flex flex-col items-center justify-center h-screen">
            
            {% csrf_token %}
            <div class="p-8 rounded-lg shadow-md w-full max-w-sm space-y-4 bg-offWhite">
                <h1 class="flex justify-center text-xl font-bold">Sign Up</h1>
                {% if error_message %}
                <p class="text-red-600">{{ error_message }}</p>
             {% endif %}
                {{ form.as_p }}

                <input type="hidden" name="next" value="{{ next }}">

                <button type="submit" class="w-full bg-darkerSage text-white font-semibold py-2 px-4 rounded hover:bg-sage">
                    Sign Up
                </button>
            </div>
        </form>
    </section>
{% endblock content %}

