{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}


{% block content %}


<a class=' text-red-600' href="{% url 'workout_log' %}">Back</a>

<div class=' mt-7'>
    <div>

       <p>Workout done on: {{ workout.day }}</p>
       <p>{{ workout.name }}</p>
       <p>Targets the: {{ workout.get_muscle_group_display }}</p>
       <p>Sets: {{ workout.sets }}</p>
       <p>Reps: {{ workout.reps }}</p>
       <p>Calorie Lost: {{ workout.calorie_lost }}</p>
       <p>Notes: {{ workout.notes }}</p>

    </div>
    <a href="{% url 'workout_log' %}">Back</a>
</div>

<div>
    <a href="{% url 'workout_update' workout.id %}">Edit</a>
    <a href="{% url 'workout_delete' workout.id %}">Delete</a>
</div>

{% endblock content %}



