{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}

{% block content %}

    <h1 class=" text-2xl">Workout Log</h1>

    <section>
        {% for workout in workouts %}

            <div class=" flex gap-2">
                <p>{{ workout.day }}</p>

                <a href="{% url 'workout_detail' workout.id %}">View</a>

            </div>
            
        {% endfor %}
    </section>
    <a href="{% url 'user_dashboard' %}">Back to Home</a>

{% endblock content %}

